.stim-info-list {
  margin: 0;
  display: grid;
}

.stim-info-list--gap-xs {
  gap: var(--stim-space-1);
}

.stim-info-list--gap-sm {
  gap: var(--stim-space-2);
}

.stim-info-list--gap-md {
  gap: var(--stim-space-4);
}

.stim-info-list dt {
  font-weight: var(--stim-font-weight-medium);
}

.stim-info-list dd {
  margin: 0;
  color: var(--stim-color-text-secondary);
}
