.stim-message-row {
  --stim-message-row-content-max-inline-size: 32rem;
  --stim-message-row-system-content-max-inline-size: 30rem;

  inline-size: 100%;

  &__inner {
    inline-size: 100%;
  }

  &__content {
    max-inline-size: min(
      var(--stim-message-row-content-max-inline-size),
      100%
    );
  }

  &--user &__content {
    align-items: flex-end;
  }

  &--system &__content {
    max-inline-size: min(
      var(--stim-message-row-system-content-max-inline-size),
      100%
    );
  }
}
