.stim-viewport-stage {
  min-block-size: 100vh;
  display: grid;
  overscroll-behavior: none;

  &--align-center {
    place-items: center;
  }

  &--align-start {
    place-items: start center;
  }

  &--padding-md {
    padding: var(--stim-space-4);
  }

  &--padding-lg {
    padding: var(--stim-space-6);
  }

  &--padding-xl {
    padding: var(--stim-space-8);
  }
}
