.stim-stack {
  display: flex;
  flex-direction: column;
}

.stim-stack--gap-xs {
  gap: var(--stim-space-1);
}

.stim-stack--gap-sm {
  gap: var(--stim-space-2);
}

.stim-stack--gap-md {
  gap: var(--stim-space-4);
}

.stim-stack--gap-lg {
  gap: var(--stim-space-6);
}

.stim-stack--align-start {
  align-items: flex-start;
}

.stim-stack--align-stretch {
  align-items: stretch;
}

.stim-stack--align-center {
  align-items: center;
}

.stim-stack--align-end {
  align-items: flex-end;
}
